@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

:root {
  
  font-family: "Lora", serif;

  color-scheme: light dark;
  color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --goldColor: #ffcc5a;
  --backgroundColor:#222831;
  --shadowcolor:#313b49;
  --analogColor:#ff7a5a;
  --redColor:rgb(220, 112, 112);
  --greenColor: rgb(153, 193, 93);
  background-color: var(--backgroundColor);
}

hr{
  width: 85vh;
  background-color: var(--goldColor);
  height: 1px;
  border: none;
}